.gray_box {
    width: 54.9306vw; 
    height: 17.2852vh;  
    left: 22.5694vw; 
    top: 41.4063vh;  
    position: absolute; 
    background: #D9D9D9; 
    box-shadow: 0px 4px 2.0833vw rgba(0, 0, 0, 0.25) inset; 
    border-radius: 2.0833vw;
    color: black; 
    font-size: 2.4306vw; 
    font-family: AppleSDGothicNeoSB00; 
    font-weight: 400; 
    word-wrap: break-word;
    text-align: center;
    display : flex;
	justify-content : center;
	align-items : center;
}

.img {
    width: 7.0139vw;  
    height: 10.0586vh; 
    right: 2.4306vw; 
    top: 3.6133vh;
    position: absolute; 
    background-image: url(reCAPTCHA.png);
    background-repeat: no-reapeat;
    background-position: 0px 0px;
    background-size : 100% 100%;
}

.check_box {
    width: 6.9444vw; 
    height: 9.7656vh;  
    left: 2.6389vw; 
    top: 3.7109vh;  
    position: absolute; 
    background-color: #ABABAB; 
    border-radius: 0.6944vw;
}
  .loading-spinner {
    width: 0vw; 
    height: 0vw;  
    left: 3.6389vw; 
    top: 3.7109vh;  
    position: absolute; 
    
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }